<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gf.dao.ICompanyDao">
    <resultMap id="BaseResultMap" type="com.gf.entity.Company">
        <id column="autoId" jdbcType="INTEGER" property="autoId" />
        <result column="companyId" jdbcType="VARCHAR" property="companyId" />
        <result column="companyName" jdbcType="VARCHAR" property="companyName" />
        <result column="companyDscp" jdbcType="VARCHAR" property="companyDscp" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <sql id="Base_Column_List">
      autoId, companyId, companyName, companyDscp,
      address, tel, email
    </sql>

    <select id="findCompanyById" resultType="com.gf.entity.Company">
        select
        <include refid="Base_Column_List" />
        from t_company t
        where t.companyId = #{companyId, jdbcType = VARCHAR}
    </select>
</mapper>